{{ "<!-- Banner -->" | safeHTML}}

{{ $banner := .Site.Data.banner }}
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <div class="typewriter">
                        <h1>{{ $banner.title }}</h1>
                </div>
            </header>
            <div class="content">
                <p>{{ $banner.subtitle }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">{{ $banner.buttonText }}</a></li>
                </ul>
            </div>
        </div>
    </section>