{{ "<!-- calendar -->" | safeHTML}}
{{ $calendar := .Site.Data.calendar }}
    <section id="calendar">
        <div class="inner">
                <section>
                <header class="major">
                        <h2>{{ $calendar.title}}</h2>
                    </header>
               
                <div >
                <p>{{ $calendar.subtitle }}</p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                            {{ range $element := $calendar.events }}
                        <tr>
                            <td>{{ $element.day }}-{{ $element.month }}-{{ $element.year }}</td>
                            <td>{{ $element.event }} </td>
                            
                        </tr>
                        {{ end }}

                    </tbody>
                </table>
                   
            </section>
       
        </div>
    </section>