{{ "<!-- Contact -->" | safeHTML}}
{{ $contact := .Site.Data.contact }}
    <section id="contact">
        <div class="inner">
            <section>
                <form method="post" action="https://formspree.io/{{ .Site.Params.Contact.formEmail }}">
                    <div class="field half first">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Mensaje</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ $contact.general.buttonSend }}" class="special" /></li>
                        <li><input type="reset" value="{{ $contact.general.buttonClear }}" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range $element := $contact.email }}
                        <h3><a href="mailto:{{ $element.email }}">{{ $element.title }}</a></h3>
                        <a href="mailto:{{ $element.email }}">{{ $element.email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-whatsapp"></span>
                        {{ range $element := $contact.whatsapp }}
                        <h3><a href="https://wa.me/{{ $contact.general.whatsapp }}">{{ $element.title }}</a></h3>
                        <h4><a href="https://wa.me/{{ $contact.general.whatsapp }}">{{ $element.text }}</a></h4>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range $element := $contact.phone }}
                        <h3> <a href= "tel:{{ $contact.general.phone }}">{{ $element.title }} </a></h3>
                        <h4><a href= "tel:{{ $contact.general.phone }}">{{ $contact.general.phone }}</a></h4>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        {{ range $index, $element := $contact.address }}
                       
                        <h3>{{ $element.title }}</h3>
                        <span>{{ if $element.name }}{{ $element.name }}<br />{{end}}
                        {{ if $element.street }}{{ $element.street }}<br />{{end}}
                        {{ if $element.address }}{{ $element.address }}<br />{{end}}
                        {{ if $element.address2 }}{{ $element.address2 }}<br />{{end}}
                        {{ if $element.city }}{{ $element.city }}{{ end }}
                        {{ if $element.state }}{{ $element.state }},{{ end }}
                        {{ if $element.zip }}{{ $element.zip }}{{ end }}
                        {{ if $element.country }} <br /> {{ $element.country }} {{ end }}
                        </span>
                        {{ end }}
                    </div>
                </section>
            </section>
        </div>
    </section>
