{{ "<!-- Header -->" | safeHTML }}
{{ $navigation := .Site.Data.navigation }}
    <header id="header" class="alt">
            <a href="{{ .Site.BaseURL }}" class="logo">{{ if $navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ $navigation.logo }}" alt="" />{{ else }}<strong>{{ $navigation.title }}</strong> <span>{{ $navigation.subtitle }}</span>{{ end }}</a>
        
        <nav>
            <a href="#menu">{{ $navigation.menu }}</a>
        </nav>
    </header>

{{ "<!-- Menu -->" | safeHTML }}
    <nav id="menu">
        <ul class="links">
            {{ range $index, $element := $navigation.home }}
                <li><a href="{{ $element.url | absURL}}index.html">{{ $element.name }}</a></li>
            {{ end }}
            {{ range $index, $element := $navigation.links }}
                <li><a href="{{ $element.url | absURL}}/index.html">{{ $element.name }}</a></li>
            {{ end }}
            {{ range $index, $element := $navigation.contact }}
            <li><a href="{{ .Site.BaseURL }}/{{ $element.url }} ">{{ $element.name }}</a></li>
            {{ end }}
        </ul>
        <ul class="actions vertical">
            {{ range $index, $element := $navigation.button1  }}
                <li><a href="{{ $element.url | absURL}}" class="button special fit">{{ $element.name }}</a></li>
            {{ end }}
            {{ range $index, $element := $navigation.calendar  }}
                <li><a href="{{ .Site.BaseURL }}/{{ $element.url }} " class="button special fit">{{ $element.name }}</a></li>
            {{ end }}
            {{ range $index, $element := $navigation.button2  }}
                <li><a href="{{ $element.url | absURL}}" class="button fit">{{ $element.name }}</a></li>
            {{ end }}
        </ul>
    </nav>